<%- include header %>
<ul class="archive">
<li><h3><a href="https://love.alipay.com/">支付宝公益网</a></h3>天佑四川，为雅安地震捐款</li>
<li><h3><a href="https://www.baidu.com/">百度一下，你就知道</a></h3>你想知道点什么？</li>
</ul>
<%- include footer %>
